$gh-footer-bg: $absolute-black;

.gh-footer {
  background: $gh-footer-bg;
  color: lighten($gh-footer-bg, 50%);
  padding: 2rem 0 0;

  .gh-footer-menu-social a {
    color: $white;
  }

  .column-block {
    margin-bottom: 30px;
  }

  > .row {
    margin-bottom: 1rem;
  }

  @include breakpoint(small only) {
    .columns {
      margin-bottom: 2rem;
    }
  }
}

.gh-footer-name {
  color: $white;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.gh-footer-title {
  color: $white;
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.gh-footer-block {
  display: flex;
  margin-bottom: 0.1rem;
  
  .fa {
    font-size: 1.1rem;
    color: lighten($gh-footer-bg, 90%);
  }

  p {
    margin-left: 1rem;
    line-height: 1.125rem;
  }
}

.gh-footer-bottom {
  background: lighten($gh-footer-bg, 90%);
  padding: 1rem 0;

  p,
  .menu {
    margin-bottom: 0;
  }

  .gh-footer-bottom-links {
    justify-content: flex-end;

    a {
      color: lighten($gh-footer-bg, 40%);
    }

    @include breakpoint(medium down) {
      justify-content: center;
    }
  }

  @include breakpoint(medium down) {
    text-align: center;
  }
}
