<div  id="club" class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="large-10 cell">
      <h2>Granada Club</h2>
      <p>The Club is situated next to Granada Hills Lake, a soothing retreat, in the heart of the project Granada Club has been created for those who seek excellence in sports, recreation and social activities. The expanse of rolling greens and stately old trees offer a serene backdrop for the pursuit of playing pleasure and leisure for the entire family and for people of all age groups. Besides family fun, the club also offers an excellent environment for business and social interaction.</p>
      <h2>Golf</h2>
      <p>
        Golf driving range is designed to be the best learning and practicing facility in the region. A night-lit range, with experienced training staff can transform your regular game to be the one you dream of.
      </p>
      <p>
        An adequately equipped pro shop offers rentals, equipment, footwear and even apparel for novices and first timers. The shop will have a wide range of products which include the best brand names in the world.
      </p>
      <p>
        Membership The club will have a membership. The families of all members can enjoy the rich host of services blended with top quality facilities resounding in the actualization of the good life.
      </p>
      <p>
        Every aspect of this prestigious club has been designed by experts with proven expertise and extensive depth of knowledge in their respective fields. The blend of foreign and local knowledge is set to deliver nothing less than a world-class facility and an exciting experience for people from all walks of life.
      </p>
      <p>
        Celebrate Granada Club will be an ideal venue for product launches and press conferences, and will be a preferred venue catering to the unique hospitality requirements for globally distinct FMCG brands, Telecommunication and Education providers, and pharmaceutical corporations and media conglomerates operating in the area.
      </p>
      <p>
        <h2>Gym</h2> The gymnasium is equipped with all the required machinery to help you stay in shape. From cardiovascular equipment, weight training, to qualified trainers, the gym has it all.
      </p>
      <p>
        The facility includes a gymnasium, aerobics, massage chairs, sauna bath, shower cabins, snack bar, lockers and changing rooms
      </p>
      <p>
        <h2>Riding</h2> A beautiful riding club for the lovers of horseback riding, a place to pump up your adrenaline, at the Granada Riding Club you can enhance your own riding skills or take your family on a joy ride on our green tracks with experienced trainers on our well bred stallions.
      </p>
      <p>
        Pool The pool is open throughout the year and uniform water temperature is maintained to meet the comfort level of the members. The pool building is centrally cooled & heated. Professional life guards and coaches for both ladies and gents are available.
      </p>
      <p>
        The covered pool is 25 Meters long, the depth ranges from 3.5′ (shallow) to 7′ (deep).
      </p>
      <p>
        <h2>Squash</h2> A separate building has two all weather squash courts. The courts have glass back walls. Three courts are equipped with air-conditioning facility. The squash complex has a calm and quiet lounge. Experienced coaches are available.
      </p>
      <p>
        <h2>Tennis</h2> The club has a mix of clay and synthetic courts and a tennis pavilion. Two of the courts have floodlights, which can be used after sunset by prior booking. One of the courts is dedicated for training purpose, where an experienced trainer is available to provide coaching to new players. An experienced marker is also available. After the game, players can relax in the tennis lounge.
      </p>
      <p>
        <h2>Billiards Bridge and Badminton</h2> The Billiard room as separate billiards and snooker tables, members can enjoy a good game with friends and other members.
      </p>
      <p>
        The bridge room offers a number of tables and is located in an exclusive area of the club providing an excellent card playing environment
      </p>
      <p>
        Two brand new badminton courts and table tennis tables will be available for players to hone their skills. Badminton facility has composite wooden flooring and an ideal lighting system.</p>
    </div>
  </div>
</div>
