<div id="club" class="marketing-site-content-section">
  <div class="marketing-site-content-section-block small-order-2 medium-order-1">
    <h3 class="marketing-site-content-section-block-header">Granada Club</h3>
    <p class="marketing-site-content-section-block-subheader subheader">The Club is situated next to Granada Hills Lake, a soothing retreat, in the heart of the project Granada Club has been created for those who seek excellence in sports, recreation and social activities. The expanse of rolling greens and stately old trees offer a serene backdrop for the pursuit of playing pleasure and leisure for the entire family and for people of all age groups. Besides family fun, the club also offers an excellent environment for business and social interaction.</p>
  </div>
  <div class="marketing-site-content-section-img small-order-1 medium-order-2">
    <img src="assets/img/club-1.jpg" alt="" />
  </div>
</div>
<div class="marketing-site-content-section">
  <div class="marketing-site-content-section-img">
    <img src="assets/img/club-2.jpg" alt="" />
  </div>
  <div class="marketing-site-content-section-block">
    <h3 class="marketing-site-content-section-block-header">Amenities</h3>
    <p class="marketing-site-content-section-block-subheader subheader">
      <strong>Granada Club</strong> Granada Golf Range &amp; Country Club will be a modern oasis and will be an integral part of the landscape of the urban area. We regard it as a premier golf range and leisure complex in the vicinity of Rawalpindi. The club will be an iconic part of the development of Granada Hills Rawalpindi
    </p>
    <p class="marketing-site-content-section-block-subheader subheader">
      <strong>Resaurants</strong> Granada Club will feature a number of dining facilities including formal, family and café dining experiences. With a variety of dining experiences from elegant interiors to lakeside dining.
    </p>
    <p class="marketing-site-content-section-block-subheader subheader">
      <strong>Gym Facility</strong> We have a fully equipped gym, a half-olympic sized pool, Squash facility, Tennis Court, Billiards Rooms, Card Rooms, Badminton and a regal riding club.
    </p>
    <p class="marketing-site-content-section-block-subheader subheader">
      <strong>Modern Luxury Living </strong> Experience the joy of a modern power grid with contingencies for alternate energy supplies, a water filtration plant, fully equipped maintenance services, efficient garbage disposal, pre-installed fiber optic cabling, parks and monuments, check out our amenities page to view everything we have in store for you.
    </p>
  </div>
</div>
<div class="marketing-site-content-section">
  <div class="marketing-site-content-section-block small-order-2 medium-order-1">
    <h3 class="marketing-site-content-section-block-header">Golf</h3>
    <p class="marketing-site-content-section-block-subheader subheader">Golf driving range is designed to be the best learning and practicing facility in the region. A night-lit range, with experienced training staff can transform your regular game to be the one you dream of.</p>
    <p class="marketing-site-content-section-block-subheader subheader">
      An adequately equipped pro shop offers rentals, equipment, footwear and even apparel for novices and first timers. The shop will have a wide range of products which include the best brand names in the world.
    </p>
  </div>
  <div class="marketing-site-content-section-img small-order-1 medium-order-2">
    <img src="assets/img/golf.jpg" alt="" />
  </div>
</div>
<div class="marketing-site-content-section">
  <div class="marketing-site-content-section-img">
    <img src="assets/img/club-4.jpg" alt="" />
  </div>
  <div class="marketing-site-content-section-block">
    <h3 class="marketing-site-content-section-block-header">Membership</h3>
    <p class="marketing-site-content-section-block-subheader subheader">
      The club will have a membership. The families of all members can enjoy the rich host of services blended with top quality facilities resounding in the actualization of the good life.
    </p>
    <p class="marketing-site-content-section-block-subheader subheader">
      Every aspect of this prestigious club has been designed by experts with proven expertise and extensive depth of knowledge in their respective fields. The blend of foreign and local knowledge is set to deliver nothing less than a world-class facility and an exciting experience for people from all walks of life.
    </p>
  </div>
</div>
<div class="marketing-site-content-section">
  <div class="marketing-site-content-section-block small-order-2 medium-order-1">
    <h3 class="marketing-site-content-section-block-header">Celebrate</h3>
    <p class="marketing-site-content-section-block-subheader subheader">
      Granada Club will be an ideal venue for product launches and press conferences, and will be a preferred venue catering to the unique hospitality requirements for globally distinct FMCG brands, Telecommunication and Education providers, and pharmaceutical corporations and media conglomerates operating in the area.</p>
  </div>
  <div class="marketing-site-content-section-img small-order-1 medium-order-2">
    <img src="assets/img/vision-x.jpg" alt="" />
  </div>
</div>
<div class="marketing-site-content-section">
  <div class="marketing-site-content-section-img">
    <img src="assets/img/gym.jpg" alt="" />
  </div>
  <div class="marketing-site-content-section-block">
    <h3 class="marketing-site-content-section-block-header">Gym</h3>
    <p class="marketing-site-content-section-block-subheader subheader">
      The gymnasium is equipped with all the required machinery to help you stay in shape. From cardiovascular equipment, weight training, to qualified trainers, the gym has it all.
    </p>
    <p class="marketing-site-content-section-block-subheader subheader">
      The facility includes a gymnasium, aerobics, massage chairs, sauna bath, shower cabins, snack bar, lockers and changing rooms
    </p>
  </div>
</div>
<div class="marketing-site-content-section">
  <div class="marketing-site-content-section-block small-order-2 medium-order-1">
    <h3 class="marketing-site-content-section-block-header">Riding</h3>
    <p class="marketing-site-content-section-block-subheader subheader">
      A beautiful riding club for the lovers of horseback riding, a place to pump up your adrenaline, at the Granada Riding Club you can enhance your own riding skills or take your family on a joy ride on our green tracks with experienced trainers on our well bred stallions.
    </p>
  </div>
  <div class="marketing-site-content-section-img small-order-1 medium-order-2">
    <img src="assets/img/riding.jpg" alt="" />
  </div>
</div>
<div class="marketing-site-content-section">
  <div class="marketing-site-content-section-img">
    <img src="assets/img/pool.jpg" alt="" />
  </div>
  <div class="marketing-site-content-section-block">
    <h3 class="marketing-site-content-section-block-header">Pool</h3>
    <p class="marketing-site-content-section-block-subheader subheader">
      The pool is open throughout the year and uniform water temperature is maintained to meet the comfort level of the members. The pool building is centrally cooled &amp; heated. Professional life guards and coaches for both ladies and gents are available.
    </p>
    <p class="marketing-site-content-section-block-subheader subheader">
      The covered pool is 25 Meters long, the depth ranges from 3.5′ (shallow) to 7′ (deep).
    </p>
  </div>
</div>
<div class="marketing-site-content-section">
  <div class="marketing-site-content-section-block small-order-2 medium-order-1">
    <h3 class="marketing-site-content-section-block-header">Squash</h3>
    <p class="marketing-site-content-section-block-subheader subheader">
      A separate building has two all weather squash courts. The courts have glass back walls. Three courts are equipped with air-conditioning facility. The squash complex has a calm and quiet lounge. Experienced coaches are available.
    </p>
  </div>
  <div class="marketing-site-content-section-img small-order-1 medium-order-2">
    <img src="assets/img/squash.jpg" alt="" />
  </div>
</div>
<div class="marketing-site-content-section">
  <div class="marketing-site-content-section-img">
    <img src="assets/img/tennis.jpg" alt="" />
  </div>
  <div class="marketing-site-content-section-block">
    <h3 class="marketing-site-content-section-block-header">Tennis</h3>
    <p class="marketing-site-content-section-block-subheader subheader">
      The club has a mix of clay and synthetic courts and a tennis pavilion. Two of the courts have floodlights, which can be used after sunset by prior booking. One of the courts is dedicated for training purpose, where an experienced trainer is available to provide coaching to new players. An experienced marker is also available. After the game, players can relax in the tennis lounge.
    </p>
  </div>
</div>
<div class="marketing-site-content-section">
  <div class="marketing-site-content-section-block small-order-2 medium-order-1">
    <h3 class="marketing-site-content-section-block-header">Billiards Bridge and Badminton
</h3>
    <p class="marketing-site-content-section-block-subheader subheader">
      The Billiard room as separate billiards and snooker tables, members can enjoy a good game with friends and other members.
    </p>
    <p class="marketing-site-content-section-block-subheader subheader">
      The bridge room offers a number of tables and is located in an exclusive area of the club providing an excellent card playing environment
    </p>
    <p class="marketing-site-content-section-block-subheader subheader">
      Two brand new badminton courts and table tennis tables will be available for players to hone their skills. Badminton facility has composite wooden flooring and an ideal lighting system.</p>
  </div>
  <div class="marketing-site-content-section-img small-order-1 medium-order-2">
    <img src="assets/img/billiards.jpg" alt="" />
  </div>
</div>
