<footer class="gh-footer">
  <div class="row medium-unstack">
    <div class="medium-4 columns">
      <div class="row small-up-3">
        <p>A state of the art housing scheme with futuristic and innovative approach, whereby our customers can experience
          dream living which otherwise is deemed impossible within Pakistan.</p>
        <ul class="menu gh-footer-menu-social simple">
          <li><a href="#"><i class="fa fa-youtube-square" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="medium-4 columns">  
    <div class="row">    
      <div class="gh-footer-block">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        <p>Waddia<br/>Unit 54,<br/>Walayat Complex,<br/> Phase 7, Bahria Town</p>
      </div>
      <div class="gh-footer-block">
        <i class="fa fa-phone" aria-hidden="true"></i>
        <p>+92 (051) 5707 161</p>
      </div>
      <div class="gh-footer-block">
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
        <p>info@granadahillspk.com</p>
      </div>
    </div>
    </div>
    <div class="medium-4 columns">          
        <img src="./assets/img/waddia-logo.png" alt="Waddia"/>      
    </div>
  </div>
  <div class="gh-footer-bottom">
    <div class="row large-unstack align-middle">
      <div class="medium-4 columns">
        <p>&copy; 2017 Granada Hills </p>
      </div>
      <div class="medium-8 columns">
        <ul class="menu gh-footer-bottom-links">
          <li><a href="/">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#club">Granada Club</a></li>
          <li><a href="#resturants">Restaurants</a></li>
          <li><a href="#message">Chairman’s Message</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
