<div id="about" class="marketing-site-content-section">

  <div class="marketing-site-content-section-block small-order-2 medium-order-1">
    <h3 class="marketing-site-content-section-block-header">Experience Luxurious Living</h3>
    <h4 class="marketing-site-content-section-block-subheader">
      Granada Hills is the realization of a life long dream
    </h4>
    <p class="marketing-site-content-section-block-subheader subheader">
      <strong>Granada Club</strong> Granada Golf Range &amp; Country Club will be a modern oasis and will be an integral part of the landscape of the urban area. We regard it as a premier golf range and leisure complex in the vicinity of Rawalpindi. The club will be an iconic part of the development of Granada Hills Rawalpindi
    </p>
    <p class="marketing-site-content-section-block-subheader subheader">
      <strong>Resaurants</strong> Granada Club will feature a number of dining facilities including formal, family and café dining experiences. With a variety of dining experiences from elegant interiors to lakeside dining.
    </p>
    <p class="marketing-site-content-section-block-subheader subheader">
      <strong>Gym Facility</strong> We have a fully equipped gym, a half-olympic sized pool, Squash facility, Tennis Court, Billiards Rooms, Card Rooms, Badminton and a regal riding club.
    </p>
    <p class="marketing-site-content-section-block-subheader subheader">
      <strong>Modern Luxury Living </strong> Experience the joy of a modern power grid with contingencies for alternate energy supplies, a water filtration plant, fully equipped maintenance services, efficient garbage disposal, pre-installed fiber optic cabling, parks and monuments, check out our amenities page to view everything we have in store for you.
    </p>
  </div>
  <div class="marketing-site-content-section-img small-order-1 medium-order-2">
    <img src="assets/img/nice-house.jpg" alt="" />
  </div>
</div>
<div class="marketing-site-content-section">
  <div class="marketing-site-content-section-img">
    <img src="assets/img/vision-1x.jpg" alt="" />
  </div>
  <div class="marketing-site-content-section-block">
    <h3 class="marketing-site-content-section-block-header">Vision</h3>
    <p class="marketing-site-content-section-block-subheader subheader">
      A state of the art housing scheme with futuristic and innovative approach, whereby our customers can experience a dream living which otherwise is deemed impossible within Pakistan.
      <br/>
      <br/> The vision and experience that Granada Hills brings to Pakistan originates from California where the most successful models of master planned communities and master planned cities were born. Granada Hills aims to replicate the model of Irvine, California which is recognized as the best run and most successful private master-planned city in the world. Granada Hills features complete coverage of schools, colleges, universities, shopping, recreation, high-paying employment, research and technology parks. </p>
  </div>
</div>
