<div class="row ">
  <div class="medium-8 columns">
    <p>People are asking me why I am so driven to leave a dream California lifestyle and come to Pakistan to raise a
      housing project.

      I believe in making a positive contribution to society, and to the lives of the people and the country I love and
      deeply care about. I have held on to a dream, a dream of showing the people of Pakistan something different and by
      extension, making a difference in their lives. I know that I cannot single-handedly change the politics or the
      economy in Pakistan, however, I do believe that I can substantially improve the quality of life of many of its
      people and bring them at par with the standard of living found in my adapted home of California.
      <q class="pull-quote">"Granada Hills, I believe, is not just a housing development project, it is an entire
        lifestyle. "</q>
      We are going to develop a world-class community that offers first world infrastructure with all the amenities that
      come with living in the developed world. Our successes in Rawalpindi will be a fulfillment of a vision that
      macro-level change can take time but a micro-level change at a community level can have a significant impact on
      the lives of thousands of families at a time. I aim to bring my 30 years of experience as a master developer in
      California to design and deliver transformative and unprecedented lifestyle change to community residents. We plan
      on becoming an integral part of the city where the residents cannot imagine a better living and lifestyle. We
      bring the American dream to you to live it in Pakistan.

      Through our initiatives, Granada Hills Rawalpindi aims to be completely autonomous and sustainable cities with
      green energy, employment opportunities, research, development and technology and IT parks, recreation, shopping,
      learning for individuals and families. Along with creating jobs we are bringing you a dream living space with wide
      roads and infrastructure overseen by German engineers, parks designed by award winning architects, schools and
      hospitals of international standard and a natural water lake which enlivens the whole experience.

      My message to my people is that we will build a new community with houses, malls and high-rises, and bring
      Pakistan one of the best living experiences in the world to reside in, feel secure about and enjoy a first-world
      lifestyle. We aim on making it all affordable for everyone and by everyone, we mean everyone has the right to such
      lifestyle and it should not be limited to the privileged.

      Fazal Chaudhry
    </p>
  </div>
</div>
