<div id="restaurants" class="restaurants-header">
  <div class="restaurants-header-text">
    <h1>Restaurants</h1>
    <h5>Granada Club will feature a number of dining facilities including formal, family and café dining experiences. Here you can enjoy cuisines from around the country at Granada Club’s restaurants from spicy foods to tingle your taste buds to delectable treats feeding your sweet tooth; you will find everything you crave for. With a unique setting built with a mix of wooden interiors and open atrium for you to enjoy the beautiful evening breeze at the lake side restaurants.</h5>
  </div>
</div>
<div class="marketing-site-content-section">
  <div class="marketing-site-content-section-block small-order-2 medium-order-1">
    <h3 class="marketing-site-content-section-block-header">These include:
</h3>
    <p class="marketing-site-content-section-block-subheader subheader">
      <ul>
        <li>The Odyssey Room</li>
        <li>The Family Court</li>
        <li>Pool Side Cafe</li>
      </ul>
    </p>
    <p>
      The Odyssey Room takes you on a journey to discover an exquisite dining experience
    </p>
  </div>
  <div class="marketing-site-content-section-img small-order-1 medium-order-2">
    <img src="assets/img/vision-x.jpg" alt="" />
  </div>
</div>

<div class="marketing-site-content-section">
  <div class="marketing-site-content-section-img">
    <img src="assets/img/restaurant-1.jpg" alt="" />
  </div>
  <div class="marketing-site-content-section-block">
    <h3 class="marketing-site-content-section-block-header">The Harness</h3>
    <p class="marketing-site-content-section-block-subheader subheader">
      The Harness is an exquisite addition to the landscape of the riding club in Granada Hills Rawalpindi. Lavishly designed, The Harness is a unique facility tagged as an upscale café, restaurant and bar. With spectacular interiors, smooth wood and stone finishes, and a luxurious environment make it one of the most exclusive places in the project.
    </p>
    <p class="marketing-site-content-section-block-subheader subheader">
      The Harness caters especially to the members of the Granada Hills Rawalpindi riding club, along with any walk in customers with its delicious mixture of culinary delights. From savory starters to mouthful main courses, saddle lounge offers the best food choices in town. Uniquely designed furniture enhances the overall ambience and makes the dining experience even more incredible. The Harness is an extremely tastefully designed facilities built with contemporary styling and are the ultimate place for members to socialize, relax and enjoy their meal.
    </p>
  </div>
</div>
